* {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo h1 {
    text-transform: uppercase;
    color: gray;
    font-size: 40px;
    font-family: sans-serif;
}

.logo h2 {
    color: #414040;
    font-family: sans-serif;
    font-size: 15px;
}

.video {
    display: grid;
    grid-template-columns: 600px 1fr;
    margin-top: 100px;
    background-color: teal;
    padding: 20px;
    margin: 50px auto;
}

.text-box {
    display: grid;
    grid-template-rows: 1r 1fr 1fr 1fr;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    padding: 30px;
    gap: 10px;
    text-align: left;
    text-indent: 10px;
}

.perco {
    min-height: 100vh;
}

footer p {
    display: flex;
    justify-content: center;
    color: white;
    background-color: teal;
    padding: 20px;
    font-family: sans-serif;
}

.empresas {
    height: 400px;
}

.group {
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: -200px;
    margin-bottom: 20px;
}

span {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

h3 {
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    background-color: rgb(131, 131, 131);
}

.earth {
    position: absolute;
    width: 150px;
    right: 140px;
    top: 110px;
}

.gurl {
    position: absolute;
    width: 150px;
    right: 0;
    top: 90px;
    z-index: 0;
}

.object {
    display: flex;
    gap: 40px;
    z-index: 0;
}

.balloon {
    position: absolute;
    width: 150px;
    right: 50px;
    top: -2px;
}
